body {
    display: block;
    margin: 0;
    padding: 0.6em;
    background-color:white;
}
div {
    display:grid;
}
h1 {
    text-align:center;
    font-family:'Courier New', Courier, monospace;
    font-variant:small-caps;
    font-size:3em;
    padding:0.3em;
    text-shadow: 0.1em 0.1em 0.1em lightgrey;
}
a {
    color:goldenrod;
    font-size:1.2em;
    font-weight:bolder;
    text-decoration: none;
    padding:12px 24px;
}
a:hover {
    color:darkgoldenrod;
    text-decoration: underline;
}
table {
    border:0.5em black;border-style:double dashed;
}
td {
    border-bottom:0.1em black;border-style:solid;
}
.body {
    text-align:center;
    font-size:110%;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
#header_span {
    font-variant:small-caps;
    font-size:120%;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color:#CD2E3A;
}
#header_subtext {
    color:#0047A0;
    font-style:italic;
    font-size:80%;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
#banner_links {
    display:table;
    table-layout:auto;
    color:goldenrod;
    text-align:center;
    width:100%;
    position:relative;
}
.grid_container {
    display:grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 0.6em;
    padding: 0.6em;
}
#introduction {
    border:black 0.2em solid;
    border-radius:0.6em;
    text-align:center;
    grid-column: 1 / 3;
    grid-row: 1;
    padding:0.6em;
}
#introduction h2, p {
    margin:0.3em;
}
#key_terms {
    border:black 0.2em solid;
    border-radius:0.6em;
    text-align:center;
    grid-column: 1 / 3;
    grid-row: 2;
    padding:0.6em;
}
#key_terms h2, p {
    margin:0.3em;
}
#table_of_contents {
    background-color:black;
    color:white;
    border-right: red 0.2em solid;
    border-radius:0.6em;
    text-align:center;
    grid-column: 3 / 4;
    grid-row:1 / 3;
}
#table_of_contents_blue {
    background-color:blue;
    color:white;
    border-right: blue 0.25em solid;
    border-radius:0.6em;
    text-align:center;
    grid-column: 3 / 4;
    grid-row:1 / 3;
    border-color:#0047A0;
    width:100%;
}
#table_of_contents ul {
    list-style-type:none;
    padding:0;
    margin:0.3em;
}
#table_of_contents li {
    padding:1em;
    margin:0;
}
#table_of_contents a {
    color:white;
    text-decoration:none;
    padding:0;
    margin:0;
}
#table_of_contents a:hover {
    text-decoration:underline;
    color:goldenrod;
}
.footer {
    text-align:center;
    font-size:80%;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color:goldenrod;
    background-color:black;
    border-radius:1em;
    position:sticky;
    margin-top:0.6em;
}
.banner-top-left {
    position:static;
    top: 10%;
    left: 0;
    width: 10%;
    height: auto;
    transform: rotate(135deg);
}
.banner-top-right {
    position:static;
    top: 10%;
    float:right;
    right: 0;
    width: 10%;
    height: auto;
    transform: rotate(-135deg);
}
.banner-bottom-left {
    position:static;
    top: 10%;
    left: 0;
    width: 10%;
    height: auto;
    transform: rotate(-135deg);
}
.banner-bottom-right {
    position:static;
    top: 10%;
    float:right;
    right: 0;
    width: 10%;
    height: auto;
    transform: rotate(135deg);
}
#header {
    margin-top:1%;
    margin-bottom:5%;
}

/*Topic, Quiz, & References styles ––––––––––––––––––––––––––––––––––––––––––––––––– */
#h1_border {
    text-align:center;
    font-family:'Courier New', Courier, monospace;
    font-variant:small-caps;
    border: 0.3em solid;
    border-style: double dashed;
    border-radius:10em 10em 5em 5em;
    padding:0.3em;
    text-shadow: 0.1em 0.1em 0.1em lightgrey;
}
#title_word_1 {
    font-variant:small-caps;
    font-size:120%;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color:#CD2E3A;
}
#title_word_2 {
    color:#0047A0;
    font-size:120%;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
#banner_links_black {
    display:table;
    table-layout:auto;
    color:goldenrod;
    background-color:black;
    border-bottom:#CD2E3A 0.1em solid;
    text-align:center;
    width:100%;
}
#banner_links_black_blue {
    color:goldenrod;
    background-color:blue;
    border-bottom:#0047A0 0.2em solid;
    width:100%;
    height:110%;
}
.grid_container_basic {
    display:grid;
    grid-template-columns: 25% 1fr 25%;
    gap: 0.6em;
    padding: 0.6em;
}
.main_content_box {
    grid-column: 2 / 3;
}
#content {
    border:black 0.2em solid;
    border-radius:0.6em;
    text-align:center;
    padding:0.6em;
}
#content h2, p {
    margin:0.3em;
}
#content ul {
    list-style-type: none;
    padding:0;
}
#content ul li {
    padding:0.3em;
}
.no_margin {
    margin:0;
}
#quiz {
    border:black 0.2em solid;
    border-radius:0.6em;
    padding:0.6em;
}
#quiz div {
    display:block;
}
#quiz h2 p {
    text-align:center;
}
#submit {
    width: 100%;
    margin: 0.6em 0 0.6em;
    color: #0047A0;
    background-color: white;
    border: double 0.3em;
    text-shadow: 0.1em 0.1em 0.1em lightgray;
    border-radius: 0.6em 0.6em 0.6em;
}
#submit:hover {
    width: 100%;
    margin: 0.6em 0 0.6em;
    color: #0047A0;
    background-color: #f7f7f7;
    border: double 0.3em;
    text-shadow: 0.1em 0.1em 0.1em lightgray;
    border-radius: 0.6em 0.6em 0.6em;
}
#restart {
    margin: 0.6em 0 0.6em;
    background-color: white;
    border: double 0.3em;
    text-shadow: 0.1em 0.1em 0.1em lightgray;
    color: #CD2E3A;
    border-radius: 0.6em 0.6em 0.6em;
}
#restart:hover {
    margin: 0.6em 0 0.6em;
    background-color: #f7f7f7;
    border: double 0.3em;
    text-shadow: 0.1em 0.1em 0.1em lightgray;
    color: #CD2E3A;
    border-radius: 0.6em 0.6em 0.6em;
}