img {
    max-width:100%;
    height:auto;
}
/* Media queries are mobile-first */
body {
    display: block;
    margin: 0;
    padding: 0.6em;
    background-color:white;
}
div {
    display:grid;
}
h1 {
    text-align:center;
    font-family:'Courier New', Courier, monospace;
    font-variant:small-caps;
    padding:0.3em;
    text-shadow: 0.1em 0.1em 0.1em lightgrey;
}
a {
    color:goldenrod;
    font-size:1.2em;
    font-weight:bolder;
    text-decoration: none;
    padding: 0.75em 1.5em;
}
a:hover {
    color:darkgoldenrod;
    text-decoration: underline;
}
table {
    border:0.5em black;border-style:double dashed;
}
td {
    border-bottom:0.1em black;border-style:solid;
}
.body {
    text-align:center;
    font-size:110%;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
#header_word_red {
    font-variant:small-caps;
    font-size:120%;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color:#CD2E3A;
}
#header_word_blue {
    color:#0047A0;
    font-style:italic;
    font-size:80%;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
#menu_toggle {
    border-style: unset;
    display: block;
    width: 100%;
    text-align: center;
    padding-bottom: 0;
    font-size: 1.2em;
    font-weight: bold;
    background-color: black;
    color: goldenrod;
    border-radius: 0.6em 0.6em 0 0;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
#menu_toggle p {
    padding: 0;
    margin: 0.4em;
}
#menu_links {
    overflow: hidden;
    max-height: 0;
    transition: max-height 0.8s ease;
    background-color: black;
    padding: 0;
}
#menu_links.show {
    max-height: 200px;
}
#menu_links a {
    padding: 0.5em;
    display: block;
}
#menu_bottom {
    background-color: black;
    display: block;
    padding: 0.3em;
    border-bottom:#CD2E3A 0.1em solid;
    border-radius: 0 0 1em 1em;
}
#menu_bottom_blue {
    background-color:#0047A0;
    border-bottom:#0047A0 0.2em solid;
    border-radius: 0 0 1em 1em;
    width:100%;
    height:110%;
}
#banner_links {
    display:table;
    table-layout:auto;
    color:goldenrod;
    text-align:center;
    width:100%;
    position:relative;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
#banner_br {
    display:none;
}
.grid_container {
    display:grid;
    grid-template-columns: 1fr;
    gap: 0.6em;
    padding: 0.6em;
}
#introduction {
    border:black 0.2em solid;
    border-radius:0.6em;
    text-align:center;
    grid-column: 1 / 2;
    grid-row: 1;
    padding:0.6em;
}
#introduction h2, #introduction p {
    margin:0.3em;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
#key_terms {
    border:black 0.2em solid;
    border-radius:0.6em;
    text-align:center;
    grid-column: 1 / 2;
    grid-row: 2;
    padding:0.6em;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
#key_terms h2, #key_terms p {
    margin:0.3em;
}
#table_of_contents {
    background-color:black;
    color:white;
    border-right: red 0.2em solid;
    border-radius:0.6em;
    text-align:center;
    grid-column: 1/2;
    grid-row: 3;
}
#table_of_contents_blue {
    background-color:#0047A0;
    color:white;
    border-right: #0047A0 0.25em solid;
    border-radius:0.6em;
    text-align:center;
    grid-column: 1/2;
    grid-row: 3;
    border-color:#0047A0;
    width:100%;
}
#table_of_contents h2 {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
#table_of_contents ul {
    list-style-type:none;
    padding:0;
    margin:0.3em;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
#table_of_contents li {
    padding:1em;
    margin:0;
}
#table_of_contents a {
    color:white;
    text-decoration:none;
    padding:0;
    margin:0;
}
#table_of_contents a:hover {
    text-decoration:underline;
    color:goldenrod;
}
.footer {
    text-align:center;
    font-size:80%;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color:goldenrod;
    background-color:black;
    border-radius:1em;
    position:sticky;
    margin-top:0.6em;
}
.banner-top-left {
    position:static;
    top: 10%;
    left: 0;
    width: 10%;
    height: auto;
    transform: rotate(135deg);
}
.banner-top-right {
    position:static;
    top: 10%;
    float:right;
    right: 0;
    width: 10%;
    height: auto;
    transform: rotate(-135deg);
}
.banner-bottom-left {
    position:static;
    top: 10%;
    left: 0;
    width: 10%;
    height: auto;
    transform: rotate(-135deg);
}
.banner-bottom-right {
    position:static;
    top: 10%;
    float:right;
    right: 0;
    width: 10%;
    height: auto;
    transform: rotate(135deg);
}
#header {
    margin-top:1%;
    margin-bottom:5%;
}

/*Topic, Quiz, & References styles ––––––––––––––––––––––––––––––––––––––––––––––––– */
#h1_border {
    text-align:center;
    font-family:'Courier New', Courier, monospace;
    font-variant:small-caps;
    font-size: 1.3em;
    border: 0.3em solid;
    border-style: double dashed;
    border-radius:10em 10em 5em 5em;
    padding:0.3em;
    text-shadow: 0.1em 0.1em 0.1em lightgrey;
}
#title_word_1 {
    font-variant:small-caps;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color:#CD2E3A;
}
#title_word_2 {
    color:#0047A0;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
.grid_container_basic {
    display:grid;
    grid-template-columns: 1fr;
    padding: 0.6em;
}
.main_content_box {
    grid-column: 1/2;
}
#content {
    border:black 0.2em solid;
    border-radius:0.6em;
    text-align:center;
    padding:0.6em;
	font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
#content a {
	font-weight:400;
}
#content h2, #content p {
    margin:0.3em;
}
#content ul {
    list-style-type: none;
    padding:0;
}
#content ul li {
    padding:0.3em;
}
.image_container {
	text-align: center;
}
#topic_image {
    display: inline-block;
    max-width: fit-content;
    padding: 0;
	margin: 0 auto;
}
#topic_image img {
	display: block;
}
.no_margin {
    margin:0;
}
#quiz {
    border:black 0.2em solid;
    border-radius:0.6em;
    padding:0.6em;
	font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
#quiz div {
    display:block;
}
#quiz h2, #quiz p {
    text-align:center;
}
#quiz h2 {
    text-align: center;
    text-shadow: 0.1em 0.05em 0.1em lightgray;
}
#quizForm {
    border: 0.2em double black;
    padding: 1em;
}
#question1, #question2, #question3, #question4, #question5 {
    font-weight: bold;
}
#results {
    border: 0.2em double #000;
    padding: 1em;
    margin-top: 0.1em;
    text-align: center;
}
#results p {
    margin: 0;
    font-weight: bold;
}
#submit {
    width: 100%;
    margin: 0.6em 0 0.6em;
    color: #0047A0;
    background-color: white;
    border: double 0.3em;
    text-shadow: 0.1em 0.1em 0.1em lightgray;
    border-radius: 0.6em;
	padding: 0.6em;
}
#submit:hover {
    width: 100%;
    margin: 0.6em 0 0.6em;
    color: #0047A0;
    background-color: #f7f7f7;
    border: double 0.3em;
    text-shadow: 0.1em 0.1em 0.1em lightgray;
    border-radius: 0.6em;
	padding: 0.6em;
}
#restart {
    margin: 0.6em 0 0.6em;
    background-color: white;
    border: double 0.3em;
    text-shadow: 0.1em 0.1em 0.1em lightgray;
    color: #CD2E3A;
    border-radius: 0.6em;
	padding: 0.6em;
}
#restart:hover {
    margin: 0.6em 0 0.6em;
    background-color: #f7f7f7;
    border: double 0.3em;
    text-shadow: 0.1em 0.1em 0.1em lightgray;
    color: #CD2E3A;
    border-radius: 0.6em;
	padding: 0.6em;
}
.no_padding a {
    padding: 0;
}
.radio-item {
    border: double 0.2em black;
	border-radius: 0.6em;
	margin:0.5em;
	margin-left: 0;
	margin-right: 0;
	padding:0px;
	background-color:#f4f4f4;
	display: flex;
}
.radio-item span {
	padding:10px;
	flex-grow:2;
}			
input[type=radio] {
	display:none;
}			
input[type=radio]:checked ~ span {
	background-color: #CD2E3A;
	border-radius: 0.3em;
	color:white;
}
.checkbox-item {
	border: double 0.2em black;
	border-radius: 0.6em;
	margin:0.5em;
	margin-left: 0;
	margin-right: 0;
	padding:0px;
	background-color:#f4f4f4;
	display: flex;
}
.checkbox-item span {
	padding:10px;
	flex-grow:2;
}
input[type=checkbox] {
	display:none;
}
input[type=checkbox]:checked ~ span {
	background-color: #CD2E3A;
	border-radius: 0.3em;
	color:white;
}
input[type=text] {
	width: 100%;
	box-sizing:border-box;
	padding: 0.6em;
	margin: 0.5em 0 0.5em 0;
}

@media (min-width:503px) {
	#h1_border {
		font-size: 2em;
	}
}

@media (min-width: 704px) {
    #menu_toggle {
        display: none;
    }
    #menu_links {
        display: flex !important;
        flex-direction: row;
        justify-content: center;
        gap: 1em;
        background: none;
        padding: 0;
        overflow: unset;
    }
    #menu_links a {
        padding: 0 1em;
        display: inline;
        border: none;
    }
    #menu_bottom {
        display: none;
    }
    #menu_bottom_blue {
        display: none;
        background-color:#0047A0;
        border-bottom:#0047A0 0.2em solid;
        border-radius: 0 0 1em 1em;
        width:100%;
        height:110%;
    }
    #banner_links {
        display: table;
        table-layout: auto;
        color: goldenrod;
        text-align: center;
        width: 100%;
        position: relative;
    }
    #banner_links_black {
        display:table;
        table-layout:auto;
        color:goldenrod;
        background-color:black;
        border-bottom:#CD2E3A 0.1em solid;
        border-radius: 1em;
        text-align:center;
        width:100%;
        padding-bottom: 1.5em;
    }
    #banner_links_black_blue {
        color:goldenrod;
        background-color:#0047A0;
        border-bottom:#0047A0 0.2em solid;
        border-radius: 1em;
        width:100%;
        height:110%;
    }
    #banner_br {
        display:block;
    }
    #header_index {
        font-size: 2.5em;
    }
    .grid_container {
        display:grid;
        grid-template-columns: 1fr 1fr 1fr;
        gap: 0.6em;
        padding: 0.6em;
    }
    .grid_container_basic {
        display:grid;
        grid-template-columns: 10% 1fr 10%;
        padding: 0.6em;
    }
    .main_content_box {
        grid-column: 2/3;
    }
    #introduction {
        border:black 0.2em solid;
        border-radius:0.6em;
        text-align:center;
        grid-column: 1 / 3;
        grid-row: 1;
        padding:0.6em;
    }
    #introduction h2, #introduction p {
        margin:0.3em;
    }
    #key_terms {
        border:black 0.2em solid;
        border-radius:0.6em;
        text-align:center;
        grid-column: 1 / 3;
        grid-row: 2;
        padding:0.6em;
    }
    #key_terms h2, #key_terms p {
        margin:0.3em;
    }
    #table_of_contents {
        background-color:black;
        color:white;
        border-right: red 0.2em solid;
        border-radius:0.6em;
        text-align:center;
        grid-column: 3 / 4;
        grid-row:1 / 3;
    }
    #table_of_contents_blue {
        background-color:#0047A0;
        color:white;
        border-right: #0047A0 0.25em solid;
        border-radius:0.6em;
        text-align:center;
        grid-column: 3 / 4;
        grid-row:1 / 3;
        border-color:#0047A0;
        width:100%;
    }
    #table_of_contents ul {
        list-style-type:none;
        padding:0;
        margin:0.3em;
    }
    #table_of_contents li {
        padding:1em;
        margin:0;
    }

    /*Topic, Quiz, & References styles ––––––––––––––––––––––––––––––––––––––––––––––––– */
    #h1_border {
        font-size: 2.3em;
    }
    #single_word_header {
        grid-template-columns:5% 1fr 5%;
    }
    header {
        grid-column: 2/3;
    }
}

@media (min-width:1024px){
	.grid_container_basic {
        display:grid;
        grid-template-columns: 15% 1fr 15%;
        padding: 0.6em;
    }
}

@media (min-width:1920px) {
    .grid_container {
        grid-template-columns: 5% 1fr 1fr 5%;
    }
    .grid_container_basic {
        display:grid;
        grid-template-columns: 20% 1fr 20%;
        padding: 0.6em;
    }
    .main_content_box {
        grid-column: 2/3;
    }
    #header_index {
        font-size: 3em;
    }
    #introduction {
        grid-column: 2/3
    }
    #table_of_contents {
        grid-column: 3/4
    }
    #key_terms {
        grid-column: 2/3
    }
    #h1_border {
        font-size: 3em;
    }
    #single_word_header {
        grid-template-columns: 10% 1fr 10%;
    }
}

@media (min-width:2000px) {
    .grid_container_basic {
        display:grid;
        grid-template-columns: 25% 1fr 25%;
        padding: 0.6em;
    }
    .main_content_box {
        grid-column: 2/3;
    }
    #header_index {
        font-size: 3.5em;
    }
    #menu_links {
        font-size: 1.5em;
    }
    #banner_links_black {
        padding-bottom: 2em;
    }
    #introduction h2, #key_terms h2, #table_of_contents h2 {
        font-size: 2em;
    }
    #introduction p, #key_terms td {
        font-size: 1.5em;
    }
    #table_of_contents a {
        font-size: 1.5em;
    }
    .footer {
        font-size: 90%;
    }
}

@media (min-width:2500px) {
    .grid_container {
        grid-template-columns: 10% 1fr 1fr 10%;
    }
    #header_index {
        font-size: 4em;
    }
    .footer {
        font-size:100%;
    }
}